<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>controllers.AuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaController</servlet-name>
        <servlet-class>controllers.AltaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaController</servlet-name>
        <servlet-class>controllers.BajaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificacionController</servlet-name>
        <servlet-class>controllers.ModificacionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscripcionesController</servlet-name>
        <servlet-class>controllers.InscripcionesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteCursosController</servlet-name>
        <servlet-class>controllers.ReporteCursosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteController</servlet-name>
        <servlet-class>controllers.ReporteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccionController</servlet-name>
        <servlet-class>controllers.AccionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/AuthenticationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaController</servlet-name>
        <url-pattern>/AltaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaController</servlet-name>
        <url-pattern>/BajaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificacionController</servlet-name>
        <url-pattern>/ModificacionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscripcionesController</servlet-name>
        <url-pattern>/InscripcionesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteCursosController</servlet-name>
        <url-pattern>/ReporteCursosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteController</servlet-name>
        <url-pattern>/ReporteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccionController</servlet-name>
        <url-pattern>/AccionController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
